<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="spreadsheetId" value="17jzTJQrtKBGQ3CIqCILixxVDrFUjJCxsTaqvrHW6cHg"/>
    <add key="prefix" value="$"/>
    <add key="logbookUrl" value ="https://docs.google.com/spreadsheets/d/17jzTJQrtKBGQ3CIqCILixxVDrFUjJCxsTaqvrHW6cHg/edit?usp=sharing"/>
    <!--Columns for the Character Record sheet. Column A = 0, B = 1, C = 2, etc... -->
    <add key="CheckpointColumn" value="2"/>
    <add key="LootpointColumn" value="3"/>
    <add key="GoldColumn" value="4"/>
    <add key="EssenceColumn" value="5"/>
    <add key="ScrapColumn" value="6"/>
  </appSettings>
</configuration>